.disco {
  margin: 0 20px;
  text-align: justify;
}
.disco a {
  color: #59b8c9;
  text-decoration-line: underline;
  padding: 0;
}
.disco a:hover {
  color: #6adaee;
}
.disco-item-flex {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #b1b1b1;
  line-height: 30px;
}
.disco-item-subhead {
  color: #59b8c9;
  font-style: italic;
}
.disco-item-head,
.disco-item-subhead {
  display: flex;
  justify-content: center;
  text-align: center;
}
.disco-album-img {
  width: 80%;
}
.disco-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.disco-item-img > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .disco {
    margin: 0 50px;
  }
}
@media only screen and (min-width: 992px) {
  .disco {
    margin: 0 100px;
  }
  .disco-item {
    margin: 50px;
    padding: 20px;
  }
  .disco-item-flex {
    display: flex;
  }
  .disco-item-img {
    flex: 1 1 50%;
    margin-right: 20px;
  }
  .disco-item-text {
    flex: 1 1 50%;
  }
  .disco-item-highlight {
    color: white;
  }
  .disco-item-credits > p {
    margin: 0;
  }
  .disco-item-span1 {
    color: white;
  }
}
