*,
:after,
:before {
  box-sizing: border-box;
}
body {
  background-color: rgb(17, 17, 17);

  font-family: 'Roboto Mono', monospace;
  color: #eeeeee;
  margin: 0;
}

h1 {
  font-size: 25px;
  width: 100%;
  margin: 0;
  padding: 40px;
  color: #db6622;
  background-color: rgb(30, 27, 73);
  border: 1px solid rgb(13, 12, 31);
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
}
h1:hover {
  background-color: rgb(42, 38, 102);
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 576px) {
  h1 {
    font-size: 35px;
  }
}

/* COLORS
darker black #101010
lighter black #191919
text - #768c81
text lighter - #eeeeee */
