.nav {
  background-image: url('../img/ph_obraz.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.nav__links {
  font-weight: 700;
  font-size: 16px;
  width: 80%;
  display: flex;
}
.nav__links-item {
  text-decoration: none;
  color: #eeeeee;
}
.nav__links-item:hover {
  text-decoration: underline;
  text-decoration-color: #eeeeee;
  transition: 0.3s;
}
@media only screen and (min-width: 576px) {
  .nav__links {
    font-weight: 700;

    flex: 1 1 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 10px;
  }
  .nav__links-item {
    padding: 40px;
    font-size: 25px;
  }
}
@media only screen and (min-width: 768px) {
  .nav__links {
    font-size: 30px;
  }
  .logo {
    width: 250px;
    padding: 20px 30px;
  }
}
